<!-- <header class="fixed w-full">
    <nav class="bg-white border-gray-200 py-2.5 dark:bg-gray-900">
        <div class="flex flex-wrap items-center justify-between max-w-screen-xl px-30 mx-auto">
            <a href="#" class="flex items-center">
                <img src="../../../../assets/images/logo/logo.png" class="h-6 mr-3 sm:h-9" alt="Fluyt Logo" />
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Fluyt Cloud</span>
            </a>
            <div class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1">
                <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
                    <li>
                        <a href="#"
                            class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">
                            What is Fluyt Cloud?
                        </a>
                    </li>
                    <li>
                        <a routerLink="docs/guides/getting-started/introduction"
                            class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">
                            Documentation
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">
                            Community
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="block py-2 pl-3 pr-4 text-gray-700 border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-purple-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700">
                            Features
                        </a>
                    </li>
                </ul>
            </div>
            <div class="flex items-center lg:order-2 space-x-3">
                <button class="fluyt-mat-button-rounded bg-accent-700" mat-flat-button [color]="'accent'">
                    <mat-icon class="icon-size-5" [svgIcon]="'feather:github'"></mat-icon>
                    <span class="ml-2">Get Started</span>
                </button>
                <button class="fluyt-mat-button-rounded" mat-flat-button [color]="'primary'">
                    <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:download'"></mat-icon>
                    <span class="ml-2">Download</span>
                </button>
            </div>
        </div>
    </nav>
</header> -->

<div class="flex flex-col mt-20">
    <section class="flex flex-row items-stretch justify-items-stretch max-w-screen-xl px-30 mx-auto">
        <div class="flex flex-1 flex-col items-start justify-evenly">
            <div>
                <p class="text-9xl">Lorem ipsum dolor sit amet.</p>
                <p class="text-md">Donec consectetur diam nec vulputate dignissim. Vivamus dui dui, vulputate quis ex
                    at,
                    viverra consequat nibh. Phasellus semper nisl quis condimentum sollicitudin. Aliquam iaculis turpis
                    nec
                    nulla sollicitudin, id faucibus erat tincidunt. In hac habitasse platea dictumst. Etiam nulla nunc,
                    placerat
                    quis hendrerit quis</p>
            </div>
            <div>
                <button class="fluyt-mat-button-rounded bg-accent-700" mat-flat-button [color]="'accent'">
                    <mat-icon class="icon-size-5" [svgIcon]="'feather:github'"></mat-icon>
                    <span class="ml-2">Get Started</span>
                </button>
            </div>
        </div>
        <div class="flex flex-1 items-center">
            <img src="../../../../assets/animations/fluity.gif" />
        </div>
    </section>
    <!-- End block -->
    <!-- Start block -->
    <section class="bg-white flex flex-col items-center max-w-screen-xl px-30 py-30">
        <div class="my-10">
            <p class="text-2xl">
                Donec consectetur diam nec vulputate dignissim. Vivamus dui dui, vulputate quis ex at
            </p>
        </div>
        <div class="flex flex-row gap-4 items-center justify-around">
            <div class="flex-1">
                <img class="max-h-10" src="../../../../assets/images/partners/apache_kafka_logo_icon_167866.png" />
            </div>
            <div class="flex-1">
                <img class="max-h-10" src="../../../../assets/images/partners/Bancopanlogo.png" />
            </div>
            <div class="flex-1">
                <img class="max-h-10" src="../../../../assets/images/partners/Kubernetes_Logo.png" />
            </div>
            <div class="flex-1">
                <img class="max-h-10" src="../../../../assets/images/partners/Pornhub-Logo.png" />
            </div>
            <div class="flex-1">
                <img class="max-h-10" src="../../../../assets/images/partners/Shopee.svg.png" />
            </div>
        </div>
    </section>
    <!-- End block -->
    <!-- Start block -->
    <section class="bg-gray-50 flex flex-col items-center max-w-screen-xl px-30 py-30">
        <div class="my-10">
            <p class="text-6xl">
                Veja como funciona
            </p>
        </div>
        <div class="flex items-center justify-around">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Qy0KqEs2TwY"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div class="flex flex-row items-center justify-around pt-10 text-center">
            <div class="flex flex-col items-center justify-around">
                <div>
                    <p class="text-4xl">
                        Lorem ipsum dolor.
                    </p>
                </div>
                <div>
                    <p class="text-base">
                        Donec consectetur diam nec vulputate dignissim. Vivamus dui dui, vulputate quis ex at
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center justify-around">
                <div>
                    <p class="text-4xl">
                        Lorem ipsum dolor.
                    </p>
                </div>
                <div>
                    <p class="text-base">
                        Donec consectetur diam nec vulputate dignissim. Vivamus dui dui, vulputate quis ex at
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center justify-around">
                <div>
                    <p class="text-4xl">
                        Lorem ipsum dolor.
                    </p>
                </div>
                <div>
                    <p class="text-base">
                        Donec consectetur diam nec vulputate dignissim. Vivamus dui dui, vulputate quis ex at
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End block -->
    <!-- Start block -->
    <section class="bg-white">

    </section>
    <!-- End block -->
    <!-- Start block -->
    <section class="bg-gray-50">

    </section>
    <!-- End block -->
    <!-- Start block -->
    <section class="bg-white">

    </section>
    <!-- End block -->
    <!-- Start block -->
    <section class="bg-white">

    </section>
    <!-- End block -->
    <!-- Start block -->
    <section class="bg-gray-50">

    </section>
    <!-- End block -->
    <footer class="bg-white">

    </footer>
</div>
<!-- Start block -->