<div class="flex flex-col mt-20">
    <section class="flex flex-row items-stretch justify-items-stretch max-w-screen-xl px-30 mx-auto">
        <div class="flex flex-1 flex-col items-start justify-evenly">
            <div>
                <p class="text-9xl">Lorem ipsum dolor sit amet.</p>
                <p class="text-md">Donec consectetur diam nec vulputate dignissim. Vivamus dui dui, vulputate quis ex
                    at,
                    viverra consequat nibh. Phasellus semper nisl quis condimentum sollicitudin. Aliquam iaculis turpis
                    nec
                    nulla sollicitudin, id faucibus erat tincidunt. In hac habitasse platea dictumst. Etiam nulla nunc,
                    placerat
                    quis hendrerit quis</p>
            </div>
            <div>
                <button class="fluyt-mat-button-rounded bg-accent-700" mat-flat-button [color]="'accent'">
                    <mat-icon class="icon-size-5" [svgIcon]="'feather:github'"></mat-icon>
                    <span class="ml-2">Get Started</span>
                </button>
            </div>
        </div>
        <div class="flex flex-1 items-center">
            <img src="../../../../assets/images/animations/fluity.gif" />
        </div>
    </section>
    <!-- End block -->
    <!-- Start block -->
    <section class="bg-white flex flex-col items-center max-w-screen-xl px-30 py-30">
        <div class="my-10">
            <p class="text-2xl">
                Donec consectetur diam nec vulputate dignissim. Vivamus dui dui, vulputate quis ex at
            </p>
        </div>
        <div class="flex flex-row gap-4 items-center justify-around">
            <div class="flex-1">
                <img class="max-h-10" src="../../../../assets/images/partners/apache_kafka_logo_icon_167866.png" />
            </div>
            <div class="flex-1">
                <img class="max-h-10" src="../../../../assets/images/partners/Bancopanlogo.png" />
            </div>
            <div class="flex-1">
                <img class="max-h-10" src="../../../../assets/images/partners/Kubernetes_Logo.png" />
            </div>
        </div>
    </section>
    <!-- End block -->
    <!-- Start block -->
    <section class="bg-gray-50 flex flex-col items-center max-w-screen-xl px-30 py-30">
        <div class="my-10">
            <p class="text-6xl">
                Veja como funciona
            </p>
        </div>
        <div class="flex items-center justify-around">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/Qy0KqEs2TwY"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>
        <div class="flex flex-row items-center justify-around pt-10 text-center">
            <div class="flex flex-col items-center justify-around">
                <div>
                    <p class="text-4xl">
                        Lorem ipsum dolor.
                    </p>
                </div>
                <div>
                    <p class="text-base">
                        Donec consectetur diam nec vulputate dignissim. Vivamus dui dui, vulputate quis ex at
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center justify-around">
                <div>
                    <p class="text-4xl">
                        Lorem ipsum dolor.
                    </p>
                </div>
                <div>
                    <p class="text-base">
                        Donec consectetur diam nec vulputate dignissim. Vivamus dui dui, vulputate quis ex at
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center justify-around">
                <div>
                    <p class="text-4xl">
                        Lorem ipsum dolor.
                    </p>
                </div>
                <div>
                    <p class="text-base">
                        Donec consectetur diam nec vulputate dignissim. Vivamus dui dui, vulputate quis ex at
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End block -->
    <!-- Start block -->
    <section class="bg-white">

    </section>
    <!-- End block -->
    <!-- Start block -->
    <section class="bg-gray-50">

    </section>
    <!-- End block -->
    <!-- Start block -->
    <section class="bg-white">

    </section>
    <!-- End block -->
    <!-- Start block -->
    <section class="bg-white">

    </section>
    <!-- End block -->
    <!-- Start block -->
    <section class="bg-gray-50">

    </section>
    <!-- End block -->
    <footer class="bg-white">

    </footer>
</div>
<!-- Start block -->